* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width:768px) {
    .container {
        width: 95%
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}