@media (min-width: 1200px) {
    body {
        min-width: 1500px;
    }

    .container {
        width: 1150px;
        margin: 0 auto;
    }

    .nav-links a {
        border-bottom: 2px solid transparent;
        transition: .2s linear;
        transition-delay: .2s;
    }

    .nav-links a:hover {
        color: #f8db14;
        border-color: #f8db14;
        transform: scale(1.2);
    }

    .landing-page-content {
        align-items: flex-start;
        justify-content: center;
        gap: 3%;
    }

    .landing-page {
        height: calc(100vh - 70px);
        justify-content: center;    
    }

    .landing-page h1 {
        width: 50%;
        font-size: 45px;
        margin-bottom: 35px;
        text-align: left;
        line-height: 130%;
    }

    .landing-page-content-links {
        margin: 0;  
    }

    .landing-page-content-showMore {
        align-self: center;
    }

    .arrow-box {
        background-color: yellow;  
        border: none;
    }
    
    .arrow {
        border: solid black;
        border-width: 0 7px 7px 0;    }

    .services-container > div{
        width: 25%;
        padding-bottom: 15.8%;
        flex-direction: row;
    } 

    .recomandation-container{
        width: 80%;
        max-width: 1500px; 
    }

    .recomendation-box {
       width: 33%; 
       padding: 0;
       margin: 0;
       flex-direction: row;
       border: none;
    }

    .recomendation-box div:first-of-type {
        margin-right: 5%;
    }

    .recomendation-content {
        margin: 0;
    }

    .realization .container {
        flex-direction: row;
    }
    
    .realization-header {
        width: 65%;
        margin-right: 2%;
    }

    .realization-header-text {
        flex-direction: column;
    }

    .realization-header-text p {
        text-align: left;
    }

    .realization-header-nav {
        flex-direction: column;
    }

    .realization-header-nav a {
        margin-top: 15px;
    }

    .realization-content-desc {
        background-color: #e9e9e9;
    }

    .contact-box {
        width: 40%;
    }

    iframe {
        width: 55%;
    }

    .contact {
        height: 450px;
    }

    .contact-media {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
}