* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: -8px;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

nav {
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

nav a {
    color: #3f3f3f;

}

footer {
    position: relative;
}

